*, ::before, ::after
{
    box-sizing: border-box;
}

@font-face
{
    font-family: "SPD";
    src: url(OpenSans-Bold.ttf)
}

body
{
    margin:0;
}

h1
{ 
padding: 15vh 0 15vh 0;
margin-top:0px;
margin-bottom: 0px;
font-size: 3em;
}

.container
{
    font-family: "SPD";
    max-width: 750px;
    margin: 0 auto;
    
}

.uvod
{
    background-color: #3F4B19;
    min-height: 70vh;

    padding: 0 20px 0 20px;
    color:burlywood;
}

img
{
    max-width: 100%;
}

header
{
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
main
{
    padding: 2em;
    min-height: 50vh;

}

.width100
{
    width:100%;
}