<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomiem Ipsum</title>
</head>
<body>
    <h1>Tomiem Ipsum</h1>
    <div>Uvítací slovo a explainer</div>
    <label for="words">Zvol počet slov:</label>
    <select id="words">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="150">150</option>
        <option value="200">200</option>
    </select>
    <button type="button" id="btn">Vygenerovat!</button>
    <div id="result"></div>
    <script src="../static/tomio.js"></script>
</body>
</html>